html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
}
body header {
  background-color: #5fc0fd;
  text-align: center;
}
body header .header-top {
  position: relative;
  line-height: 4.3rem;
}
body header .header-top .header-arrow {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/task5-6.png);
  background-repeat: no-repeat;
  background-position: 1.5rem;
  padding: 1.8rem;
  margin-top: 5px;
}
body header .header-top .header-title {
  color: #fff;
}
body header .header-introduce {
  background-image: url(../img/task5-1.png);
  background-size: 100% 100%;
  height: 16.3rem;
}
body header .header-photo {
  position: absolute;
  top: 10rem;
  left: 2.5rem;
  width: 51px;
  height: 49px;
}
body header .header-name {
  position: absolute;
  left: 11.5rem;
  top: 10rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}
body header .header-address {
  position: absolute;
  top: 13.4rem;
  left: 11.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
body main .main-title {
  border-bottom: 0.1rem solid #e1e5e7;
  padding-left: 1.5rem;
}
body main .main-title .main-title-word {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 0.2rem solid #5fc0cd;
}
body main .main-top {
  margin-left: 1.6rem;
  padding-left: 1.4rem;
  border-bottom: 0.1rem solid #e1e5e7;
}
body main .main-top .main-top-border {
  padding-right: 1rem;
  border-right: 0.2rem solid #e1e5e7;
}
body main .main-top p {
  padding-left: 0.5rem;
  margin: 1.5rem 0;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
}
body main .main-top img {
  padding-left: 0.5rem;
}
body main .main-detailed-box {
  margin-left: 1.6rem;
  line-height: 4rem;
  border-bottom: 0.1rem solid #e1e5e7;
}
body main .main-detailed-box .main-detailed-time {
  padding-left: 1.4rem;
  padding-right: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #999999;
  border-right: 0.2rem solid #e1e5e7;
}
body main .main-detailed-box .main-detailed-word {
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
}
body main .main-detailed-box .main-detailed-money {
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #e26163;
}
body main .main-detailed-bottom {
  display: flex;
  margin-bottom: 6rem;
  margin-left: 1.7rem;
  border-bottom: 0.1rem solid #e1e5e7;
  border-top: 0.1rem solid #e1e5e7;
}
body main .main-detailed-bottom .main-introduce-title {
  padding-left: 1.4rem;
  padding-right: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #999999;
  border-right: 0.2rem solid #e1e5e7;
  min-width: 5.9rem;
}
body main .main-detailed-bottom .main-introduce-word {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.4rem;
}
body main .main-detailed-bottom .main-introduce-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer {
  width: 100%;
  height: 5.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
}
body footer .footer-message {
  width: 45%;
  height: 4.5rem;
  background-color: #fff;
  font-size: 1.7rem;
  color: #5fc0fd;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 0.1rem solid #5fc0fd;
}
body footer .footer-phone {
  margin-left: 0.5rem;
  width: 45%;
  height: 4.5rem;
  background-color: #5fc0fd;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 0.1rem solid #5fc0fd;
}
/*# sourceMappingURL=tesk-12-1.css.map */